@charset "UTF-8";
@font-face {
  font-family: "Gotham Rounded";
  src: url("./fonts/GothamRounded-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Rounded";
  src: url("./fonts/GothamRounded-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Rounded";
  src: url("./fonts/GothamRounded-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Rounded";
  src: url("./fonts/GothamRounded-Medium.woff2") format("woff2");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.input-radio {
  display: inline-block;
}

.input-radio input {
  display: none;
}

.input-radio label {
  display: inline-block;
  padding: 10px 40px;
}
@media screen and (max-width: 500px) {
  .input-radio label {
    padding: 10px 20px;
  }
}

/* Checked */
.input-radio input[type=radio]:checked + label {
  background: #6cace4;
  color: #f8f9fa;
}

.input-radio input[type=radio] + label {
  border: 1px solid #6cace4;
  font-size: 1.4rem;
  cursor: pointer;
}

.button {
  cursor: pointer;
  border: none;
  text-transform: lowercase;
  padding: 11.5px 35px;
  font-size: 1.4rem;
}

.button-bordered {
  background: #fff;
  border: 1px solid #6cace4;
  color: #6cace4;
}
.button-bordered:hover {
  background: #6cace4;
  color: #fff;
}
.button-colored {
  background: #6cace4;
  color: #fff;
}

html {
  font-family: "Gotham Rounded", sans-serif;
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 0.375px;
  color: #4f4f4f;
  scroll-behavior: smooth;
}

p {
  font-size: 1.5rem;
}

a {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.wrapper {
  max-width: 1280px;
}

.arrow-up {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid white;
  transition: all 1s ease-in-out;
  border: 5px solid red;
}

body {
  position: relative;
}

.mobile-button-to-top {
  position: fixed;
  bottom: 4.5%;
  right: 10%;
  padding: 12px;
  background: #6cace4;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #fff;
}

.gift-bag-button {
  position: fixed;
  bottom: 4%;
  left: 8%;
  padding: 15px;
  border: none;
  background: #6cace4;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-logo {
  height: 28px;
  width: 140px;
}
@media screen and (max-width: 768.7px) {
  .header-logo {
    height: 28px;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .header-logo {
    height: 24px;
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  .header-logo {
    height: 18px;
    width: 100%;
  }
}

.header__content-bottom {
  width: 100%;
  z-index: 999;
  background: #6cace4;
  padding: 12px 30px;
  color: #fff;
  font-weight: 300;
  font-size: 1.8rem;
}
@media screen and (max-width: 768.7px) {
  .header__content-bottom {
    padding: 10px 20px;
  }
}
.header__content-bottom:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #ffc107;
}

.header__content-top {
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.03rem;
  color: #212529;
  padding: 10px;
  background: #fff;
}
@media screen and (max-width: 414.7px) {
  .header__content-top {
    padding: 5px;
  }
}

.shop-name {
  color: white;
  font-size: 4rem;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.4rem;
  padding-bottom: 7px;
}

.header__content {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 0 auto;
}
@media screen and (max-width: 955px) {
  .header__content {
    padding: 10px 5px;
  }
}

.header__content-align {
  width: 33.33%;
}
.header__content-align:last-child {
  column-gap: 30px;
}
@media screen and (max-width: 995px) {
  .header__content-align:last-child {
    column-gap: 2%;
  }
}

.header-icon__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 40px;
}
@media screen and (max-width: 955px) {
  .header-icon__container {
    column-gap: 25%;
  }
}
.search-icon {
  width: 25px;
  height: 25px;
  align-self: center;
  align-items: center;
}
@media screen and (max-width: 414.7px) {
  .search-icon {
    margin-right: 0;
    width: 22px;
    height: 22px;
  }
}

.shopping-card-icon {
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 414.7px) {
  .shopping-card-icon {
    width: 25px;
    height: 25px;
  }
}

.header__item {
  display: flex;
}

.header-icon-link {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currency-image-inner {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}

.current-currency-container {
  display: flex;
  width: #f8f9fa;
  column-gap: 10px;
  align-items: center;
}

.header__container {
  position: relative;
  width: 100%;
}

.header-opening {
  position: fixed;
  transform: translateY(0);
  top: -107px;
  transition: transform 0.8s ease;
}

.header-active {
  transition: transform 0.8s ease;
  transform: translateY(107px);
  top: -107px;
  left: 0;
  z-index: 999;
}

.header__wrapper {
  position: relative;
}

.navigation {
  display: flex;
  width: 100%;
}

.navigation-link {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 300;
  padding: 8px;
}
@media screen and (max-width: 1200px) {
  .navigation-link {
    padding: 3px;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 955px) {
  .navigation-link {
    font-size: 1.4rem;
  }
}

.navigation-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__content-align {
  display: flex;
}
.header__content-align:last-child {
  justify-content: flex-end;
}

.logo-centered {
  display: flex;
  justify-content: center;
}

.hamburger__line {
  display: inline-block;
  content: " ";
  position: relative;
  width: 22px;
  height: 1px;
  background: #f8f9fa;
  top: -4px;
}
.hamburger__line::before, .hamburger__line::after {
  position: absolute;
  content: " ";
  width: 25px;
  height: 0.5px;
  background: #f8f9fa;
  left: 0;
}
.hamburger__line::before {
  top: 7px;
}
.hamburger__line::after {
  top: -7px;
}

.hamurger__container {
  justify-content: center;
  align-items: center;
}

.product-section {
  padding: 65px 20px;
}
@media screen and (max-width: 450px) {
  .product-section {
    padding: 25px 5px;
  }
}

.main-image-slider {
  padding-bottom: 40px;
}

.main-slider-border {
  max-width: 430px;
  margin: 0 auto;
}
@media screen and (max-width: 768.7px) {
  .main-slider-border {
    max-width: 296px;
  }
}
@media screen and (max-width: 700px) {
  .main-slider-border {
    max-width: 350px;
  }
}

.main-image {
  overflow: hidden;
  max-width: 430px;
  height: 100%;
}
@media screen and (max-width: 768.7px) {
  .main-image {
    max-width: 296px;
  }
}
@media screen and (max-width: 700px) {
  .main-image {
    max-width: 350px;
  }
}
@media screen and (max-width: 414.7px) {
  .main-image {
    width: 100%;
  }
}

.smoll-image-slider {
  max-width: 430px;
  margin: 0 auto;
}

.smoll-slider-border {
  overflow: hidden;
  width: 100%;
}

.smoll-slider {
  display: flex;
  justify-content: space-between;
  row-gap: 15px;
  width: 100%;
}

.smoll-slider-item {
  width: 55px;
  height: 100%;
}
.smoll-slider-item:first-child {
  border: 2px solid #6c757d;
}

.smoll-image {
  object-fit: cover;
}

.product__layout {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 700px) {
  .product__layout {
    flex-direction: column;
  }
}

.product__layout-item {
  width: 50%;
  padding: 0 30px;
}
@media screen and (max-width: 700px) {
  .product__layout-item {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 450px) {
  .product__layout-item {
    padding: 0 20px;
  }
}

.product__title {
  font-size: 3.5rem;
  font-weight: normal;
  color: #495057;
  padding-bottom: 7px;
}
@media screen and (max-width: 700px) {
  .product__title {
    font-size: 2.9rem;
    letter-spacing: 0;
  }
}

.revies__container {
  display: flex;
  flex-wrap: wrap;
}

.star {
  padding: 7px 0;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("../assets/svg/star.svg");
}

.revies__container {
  display: flex;
  flex-direction: row;
}

.revie-item {
  margin-right: 4px;
  cursor: pointer;
  color: #6cace4;
}
@media screen and (max-width: 768.7px) {
  .revie-item {
    margin-right: 1px;
  }
}
.revie-item:last-child {
  margin-right: 0;
  margin-left: 10px;
  font-size: 1.3rem;
  font-weight: 300;
}
@media screen and (max-width: 768.7px) {
  .revie-item:last-child {
    width: 70%;
  }
}

.price__container {
  position: relative;
  font-size: 2.5rem;
  font-weight: 300;
  border-bottom: 1px solid #ced4da;
  padding: 15px 0;
}

.additional-options__container {
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 700px) {
  .additional-options__container {
    display: flex;
    flex-direction: column;
  }
}

.options__title {
  padding-bottom: 15px;
  display: block;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: medium;
  letter-spacing: 0.3rem;
}
@media screen and (max-width: 500) {
  .options__title {
    padding: 0 30%;
  }
}

.options-buttons__container {
  display: flex;
  column-gap: 15px;
  margin-bottom: 10px;
  row-gap: 15px;
}
@media screen and (max-width: 500px) {
  .options-buttons__container {
    row-gap: none;
  }
}
@media screen and (max-width: 320.7px) {
  .options-buttons__container {
    flex-direction: column;
  }
}

.accordion__wrapper {
  width: 100%;
  border-top: 1px solid #6c757d;
  border-bottom: 1px solid #6c757d;
}

.accordion__title {
  position: relative;
  cursor: pointer;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: normal;
  color: #343a40;
  text-align: center;
}
@media screen and (max-width: 768.7px) {
  .accordion__title {
    margin-bottom: 10px;
  }
}
.accordion__title:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  background: #6c757d;
  top: calc(50% - 1px);
  right: 220px;
}

.product__description__container {
  font-size: 1.5rem;
  font-weight: 300;
}
.product__description__container p {
  margin-bottom: 25px;
}

td {
  padding: 10px 15px;
}

tbody {
  display: table-row-group;
  padding: 5px;
}

table {
  margin-bottom: 30px;
}

@media screen and (max-width: 450px) {
  .product-form {
    padding: 0 10px;
  }
}

.quantity_icon {
  position: absolute;
  width: 10px;
  height: 10px;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
}

.quantity_change {
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  padding: 17px;
  width: 40px;
  height: 100%;
  display: block;
  background: #fff;
}
.quantity_change:hover {
  background: #e9ecef;
}
.quantity_change:active {
  background: #f8f9fa;
}

.product-quantity__container {
  position: relative;
  display: inline-flex;
  border: 1px solid #6cace4;
}

.quantity__num__input {
  border: none;
  width: 120px;
  text-align: center;
  line-height: 100%;
  font-size: 1.5rem;
  color: #343a40;
  font-weight: 300;
  padding: 0 25px;
  background: #fff;
}

.quantity__minus {
  left: 0;
}

.quantity__plus {
  right: 0;
}

.add-to-card-button {
  width: calc(100% - 120px - 10px);
}

.quantity-basket {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.purchase-options-buttons__container {
  display: flex;
  flex-direction: column;
  padding: 25px 0;
  row-gap: 12px;
}

.purchase-button-group {
  width: 100%;
  padding: 12px;
  text-align: center;
  position: relative;
  background: rgb(242, 242, 242);
  cursor: pointer;
  color: #6c757d;
}
.purchase-button-group::before {
  position: absolute;
  top: calc(50% - 8px);
  left: 16px;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #6c757d;
}

.purchase-button-group-active {
  background-color: rgba(108, 172, 255, 0.3);
  color: #343a40;
}
.purchase-button-group-active::before {
  background: #6cace4;
  border: 1px solid #212529;
}

.subscription-benefits-item {
  position: relative;
  display: flex;
}

.icon-checkmark-circle {
  fill: #99cd34;
}

.subscription-length__title {
  text-transform: uppercase;
  color: #212529;
  font-size: 1.4rem;
  font-weight: 300;
}

.subscription-length-item {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 2px 28px 2px 10px;
  cursor: pointer;
  border: 1px solid #adb5bd;
  outline: none;
  margin-left: 10px;
}
.subscription-length-item option {
  font-weight: 300;
}

.subscription-details {
  background: rgb(242, 242, 242);
  padding: 25px;
}

h5 {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.subscription-benefits-item {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 300;
}

.subscription-benefits-list {
  max-width: 365px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

h3 {
  font-size: 2.9rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.additional-products__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 30px;
}
@media screen and (max-width: 1024.7px) {
  .additional-products__container {
    column-gap: 2.5%;
  }
}
@media screen and (max-width: 600px) {
  .additional-products__container {
    gap: 8%;
    justify-content: center;
  }
}

.additional-product-link {
  padding: 8px 32px;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .additional-product-link {
    padding: 8px;
  }
}

.additional-propuct__title {
  font-size: 24px;
  color: #495057;
  margin-bottom: 5px;
  margin-top: 15px;
}
@media screen and (max-width: 768.7px) {
  .additional-propuct__title {
    font-size: 1.8rem;
  }
}

.additional-product-meta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.additional-product__price {
  font-size: 1.8rem;
  color: #495057;
  font-weight: 300;
}

.additional-revie {
  font-size: 16px;
  font-weight: 300;
}
@media screen and (max-width: 768.7px) {
  .additional-revie {
    width: 45% !important;
  }
}

.revies__container {
  display: flex;
  align-items: center;
}

.additional-product-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.additional-product-image {
  position: relative;
}

.background-additional-image-active {
  display: block !important;
  z-index: 500;
}

.background-additional-image {
  position: absolute;
  top: 0;
  display: none;
}

@media screen and (max-width: 768.7px) {
  .additional-offer__section {
    padding: 0 20px;
  }
}

.additional-revie__container {
  margin: 10px 0;
}

.additional-products-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}
@media screen and (max-width: 600px) {
  .additional-products-item {
    width: 46%;
  }
}
@media screen and (max-width: 600px) and (max-width: 600px) {
  .additional-products-item:last-child {
    margin-top: 8%;
  }
}

.sign-up__section {
  margin: 100px 0 40px;
}
@media screen and (max-width: 768.7px) {
  .sign-up__section {
    padding: 0 40px 50px;
  }
}
@media screen and (max-width: 320.7px) {
  .sign-up__section {
    padding: 0 20px 20px;
  }
}

.sign-up__title {
  font-size: 2.9rem;
  margin-bottom: 20px;
}

.sign-up__text {
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 30px;
  text-align: center;
}

.sign-up-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-input {
  position: relative;
  right: -5px;
  outline: none;
  border: 1px solid #adb5bd;
  padding: 12px 30px 12px 24px;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: inherit;
}
@media screen and (max-width: 500px) {
  .newsletter-input {
    right: 0;
  }
}

.subscribr-button {
  font-size: 1.6rem;
  text-transform: capitalize;
}

.newsletter-input__container {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 500px) {
  .newsletter-input__container input,
.newsletter-input__container button {
    width: 80%;
  }
}
@media screen and (max-width: 320.7px) {
  .newsletter-input__container input,
.newsletter-input__container button {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .newsletter-input__container {
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .newsletter-input__container button {
    margin-top: 20px;
  }
}

.footer {
  background: #6cace4;
  color: #fff;
  padding: 56px 0 15px;
}

.footer__container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media screen and (max-width: 768.7px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}

.footer-navigation__container {
  display: flex;
  justify-content: space-between;
}

.footer-item__container {
  padding: 0 40px;
  flex-grow: 1;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 500px) {
  .footer-item__container {
    padding: 0;
  }
}
@media screen and (max-width: 768.7px) {
  .footer-item__container:nth-child(2) {
    width: 90%;
  }
}
.footer-item__container:last-child {
  margin-bottom: 75px;
}
@media screen and (max-width: 768.7px) {
  .footer-item__container:last-child {
    row-gap: 30px;
    margin-bottom: 45px;
  }
}

.footer-logo {
  height: 32px;
}
@media screen and (max-width: 768.7px) {
  .footer-logo {
    height: 28px;
    width: 100%;
  }
}

.footer-sign-up__title {
  font-size: 1.8rem;
  text-transform: lowercase;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
}

.footer__newsletter-input {
  position: relative;
  right: -5px;
  outline: none;
  border: 0.5px solid #fff;
  padding: 12px 30px 12px 24px;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: inherit;
  background: #6cace4;
  color: #fff;
}
.footer__newsletter-input::placeholder {
  color: #fff;
}

.footer__newsletter {
  display: flex;
}

.footer__newsletter-button {
  border: #fff;
  padding: 7px 20px 7px 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-image {
  display: block;
  height: 24px;
  width: 26px;
  background-image: url("./assets/svg/email.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.footer__item__tittle {
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: left;
}

.footer__navigation__column li {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 300;
  margin-bottom: 16px;
}
.footer__navigation__column li a:visited {
  color: #fff;
}
@media screen and (max-width: 600px) {
  .footer__navigation__column {
    width: 33.333%;
  }
}

.footer__copyright {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
}

.footer__social-links {
  display: flex;
  column-gap: 10px;
}
.footer__social-links li {
  display: inline-block;
  background-color: #fff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}
.footer__social-links li:first-child {
  background-image: url(./assets/svg/instagram.svg);
}
.footer__social-links li:nth-child(2) {
  background-image: url(./assets/svg/facebook.svg);
}
.footer__social-links li:last-child {
  background-image: url(./assets/svg/pinterest.svg);
}

/*# sourceMappingURL=style.css.map */
